@model InputCalculateRatesViewModel

@using (Html.BeginForm("CalculatedRates", "Rates", FormMethod.Post,  new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            @Html.LabelFor(model => model.FirstCurrency, new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.FirstCurrency, new SelectList(Model.CurrenciesToSelect, "Value", "Text"))
        </tr>
        <tr>
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(model => model.Value, new { @pattern = @"\d+" })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </tr>
        <tr>
            @Html.LabelFor(model => model.SecondCurrency, new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.SecondCurrency, new SelectList(Model.CurrenciesToSelect, "Value", "Text"))
        </tr>
    </table>
    <input type="submit" value="Calculate" />
}
